<main class="main">
  <div class="content">
    <h1>Bienvenue sur la page principale</h1>
    <h2>Données provenant de l'API Gateway :</h2>
    <div>
      <h3>{{ statusMessage }}</h3>
    </div>
    <h2>Données provenant de l'API ServiceB :</h2>
    <div>
      <ul>
        <li *ngFor="let item of data">
          {{ item.id }} - {{ item.title }} - {{ item.description }}
        </li>
      </ul>
    </div>
    <!-- <h2>Données provenant de l'API ServiceB 2eme Methode :</h2>
    <div>
      <h3>{{ dataUp?.id }}</h3>
      <p>{{ dataUp?.title }}</p>
      <p>{{ dataUp?.description }}</p>
    </div> -->
    <h2>Données provenant de Store Angular :</h2>
    <div>
      <ul>
        <li *ngFor="let data of (externalDataFromStore$ | async)">
          {{ data.title }} - {{ data.description }}
        </li>
      </ul>
    </div>
    <h2>Données provenant de Store Angular provenant du service B:</h2>
    <div>
      <ul>
        <li *ngFor="let data of (externalDataFromServiceB$ | async)">
          {{ data.id }} {{ data.title }} - {{ data.description }}
        </li>
      </ul>
    </div>
  </div>
</main>